{% extends "blog/base.html" %}

{% block content %}
    <h1>About this Blog</h1>
    <p> The term "photo blog" has almost become redundant. Between the popularity of microblogging, and the fact that smartphones are capable of producing high-quality images, our digital communication has become increasingly photo-centric. We consume so much content in our digital lives, it seems we’ve developed a need for it to be presented in the simplest, most efficient way possible. Enter: Le Gallery.<br>

    If Flickr gave us the photo-sharing bug, then services like Tumblr, yFrog, Instagram and even Foodspotting are making it standard practice.<br>

    why you need Le gallery?<br>
    So how can you get in on the action? There are a few basic rules. First, it should be said, a photo blog can be pretty much anything you want it to be, so long as your content is predominantly –- you guessed it — photos. These pics can be your own, pulled in from across the web, submitted by users or some combination of the three. Basically, when it comes to photo blogs, there are many options.</p>
{% endblock content %}

