{% extends 'blog/base.html'%}
{% block content %}
{{ block.super}}

<div class="container">
    <script>
        function myFunction() {
            var copyText = document.getElementById("link");
            copyText.select();
            document.execCommand("Copy");
            alert("Copied the text: " + copyText.value);
        }
    </script>
    <!-- Looping through news   -->
    {% for image in images %}
    <br>


    <!-- Button trigger modal -->
    <div class="row h-100 justify-content-center align-items-center">
        <button type="button" class="btn" data-toggle="modal" data-image-id="{{image.id}}" data-target="#{{image.id}}">
            <img src="{{image.image_image.url}}" class="img-responsive" alt="image" width="500px" id="img{{image.id}}">
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-image_name"">{{ image.image_name }}</h5>
            <button type=" button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <img src="{{image.image_path.url}}" class="img-responsive" alt="image" width="450px">
                    <br>
                    <p class="modal-image_name">
                        <legend>Description</legend>{{ image.image_description }}
                    </p>
                    <br>
                    <p class="modal-image_name">
                        <legend>Location</legend>{{ image.image_location }}
                    </p>
                    <br>
                    <p class="modal-image_name">
                        <legend>Category</legend>{{ image.category.name }}
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <input class="form-control" type="text" value={{image.image_image.url}} id="link">
                        <a onclick="myFunction()"><button type="button" class="btn btn-primary">Copy Link</button></a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Display news Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <!-- <img src="{{image.image_path.url}}" class="img-responsive" alt="image"> -->
    </div>
</div>
{% empty %}
<div class="row">
    <h2 class="text-center">There No News Items</h2>
</div>
{% endfor %}
</div>
{% endblock %}